<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<body>
  <form action="/action.php">
    <label for="stuname">Name*:</label><br>
    <input type="text" id="stuname" placeholder="Rahul Singh" required><br><br>

    <fieldset>
        <legend>Gender*:</legend>
            <label for="male">Male</label>
            <input type="radio" name="gender" id="male" value="male" required>
            <label for="female">Female</label>
            <input type="radio" name="gender" id="female" value="female" required>
    </fieldset>
    <br><br>

    <label for="country">Country:</label><br>
    <input type="text" id="country"><br><br>

    <label for="contactno">Contact No:</label><br>
    <input type="number" id="contactno"><br><br>

    <label for="city">City:</label><br>
    <input type="text" id="city"><br><br>

    <label for="age">Age*:</label><br>
    <input type="number" id="age" placeholder="18" required><br><br>

    <label for="dob">Date of Birth*:</label><br>
    <input type="date" id="dob" required><br><br>

    <label for="emailid">Email ID*:</label><br>
    <input type="text" id="emailid" placeholder="example@example.com" required><br><br>

    <label for="attend">Attendance*:</label><br>
    <input type="number" id="attend" maxlength="90" required><br><br>

    <input type="submit" value="Submit">
  </form>
</body>
</html>