<!DOCTYPE html>
<html lang="en">
<style>
    h1{text-align: center;}
    h2{text-align: center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <center>
        <form action="/" method="get">
            <h1>Welcome to 'Attendance Report and Analytics' Home page.</h1>
            <div>
                <a href="/login">
                    <h2>Student</h2>
                </a>
            </div>
            <div>
                <a href="/login">
                    <h2>Staff</h2>
                </a>
            </div>
        </form>
    </center>
</body>
</html>