<!DOCTYPE html>
<html lang="en">
<style>
    h1{text-align: center;}
    h2{text-align: center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<!--    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">-->
    <center>
        <form action="/" method="get">
            <h1>'Report and Analytics of Attendance'</h1>
            <div>
                <a href="/inputs">
                    <h2>I am a Student</h2>
                </a>
            </div>
            <div>
                <a href="/loginstaff">
                    <h2>I am a Staff</h2>
                </a>
            </div>
        </form>
    </center>
</body>
</html>